#title{
	overflow: hidden; zoom:1;
}
#title h1{
	float: left;
}
#login_info{
	float: right;
	margin: 10px 10px 0px;
	padding: 5px 10px;
	border: 1px solid #B7B7B7;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}