#top_field{
	overflow: hidden; zoom:1;
}
#info_field{
	float: left;
	width: 58%;
	height: 153px;
}
#arg_selector{
	float: right;
	overflow: hidden; zoom:1;
	width: 40%;
}
#arg_selector_left, #arg_selector_right{
	float: left;
}
#category_field, #question_id_field{
	overflow: hidden; zoom:1;
	margin-left: 10px;
}
#category_title, #category_value, #question_id_title, #question_id_value{
	float: left;
}
#category_title, #question_id_title{
	padding: 5px 0px;
	margin-bottom: 10px;
	width: 50px;
}
#category_value, #question_id_value{
	width: 180px;
}
#btn_view{
	float: left;
	margin: 0px 10px;
	width: 70px;
	height: 70px;
}
#weekly_txt{
	font-size: 12px;
	text-align: right;
}