#title{
	overflow: hidden; zoom:1;
}
#title h1{
	float: left;
}
body {
	background-color:#fff;
	-webkit-font-smoothing: antialiased;
	font: normal 14px Roboto,arial,sans-serif;
}
.container {
	padding: 25px;
	position: fixed;
}
.form-login {
	margin: 0% 30%;
	width: 500px;
	background-color: #EDEDED;
	padding-top: 10px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 15px;
	border-color:#d2d2d2;
	border-width: 5px;
	box-shadow:0 1px 0 #cfcfcf;
}
h4 {
	border:0 solid #fff;
	border-bottom-width:1px;
	padding-bottom:10px;
	text-align: center;
}
.form-control {
	border-radius: 10px;
}
.wrapper {
	text-align: center;
}
#login_info{
	float: right;
	margin: 10px 10px 0px;
	padding: 5px 10px;
	border: 1px solid #B7B7B7;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}