#info_field_1, #info_field_2{
	overflow: hidden; zoom:1;
	float: left;
}
#info_field_1_bottom{
	overflow: hidden; zoom:1;
}
#question_name_field, #genre_field{
	width: 400px;
	margin: 0px 5px;
}
#genre_value{
	font-size: 120%;
}
#answer_count_field, #correct_rate_field{
	float: left;
	width: 195px;
	margin: 0px 5px;
}
#answer_count_value, #correct_rate_value{
	font-size: 120%;
}
#info_field_2{
	float: left;
	width: 500px;
	height: 260px;
	margin: 0px 5px;
	overflow: hidden; zoom:1;
}
#selection_table_field{
	float: left;
	width: 180px;
	height: 165px;
	padding: 5px;
	border: 1px solid #B7B7B7;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#a_field, #i_field, #u_field, #e_field, #q_field{
	overflow: hidden; zoom:1;
	width: 170px;
}
#a_title, #i_title, #u_title, #e_title, #q_title, #selection_rate_a, #selection_rate_i, #selection_rate_u, #selection_rate_e, #selection_rate_q{
	float: left;
	padding: 5px;
}
#selection_graph_field{
	float: left;
	margin: 0px 5px;
}
#selection_graph_value{
	width: 270px;
	height: 165px;
}