table {
	border-collapse: collapse;
}
th {
	padding: 6px;
	text-align: center;
	vertical-align: top;
	color: #FFFFFF;
	background-color: #383838;
	border: 1px solid #b9b9b9;
}
td {
	padding: 6px;
	background-color: #fff;
	border: 1px solid #b9b9b9;
}

#selector_top{
	overflow: hidden; zoom:1;
}
#sort_field, #category_field, #year_field, #turn_field{
	overflow: hidden; zoom:1;
	float: left;
	margin-left: 10px;
}
#sort_title, #sort_value, #order_value, #category_title, #category_value, #year_title, #year_value, #turn_title, #turn_value{
	float: left;
}
#sort_title, #category_title, #year_title, #turn_title{
	padding: 5px 0px;
	margin-right: 5px;
}
#btn{
	float: left;
	margin: 0px 10px;
	height: 34px;
}
#serach_condition{
	color: #737373;
	font-size: 10px;
	float: left;
	width: 200px;
}
#ajax_result{
	color: red;
	font-size: 12px;
	margin: 5px 10px;
}
#reload_field{
	text-align: center;
	margin-bottom: 20px;
}