table {
	border-collapse: collapse;
}
th {
	padding: 6px;
	text-align: center;
	vertical-align: top;
	color: #FFFFFF;
	background-color: #383838;
	border: 1px solid #b9b9b9;
}
td {
	padding: 6px;
	background-color: #fff;
	border: 1px solid #b9b9b9;
}
#arg_selector{
	overflow: hidden; zoom:1;
}
#category_field, #year_field, #turn_field{
	overflow: hidden; zoom:1;
	float: left;
	margin-left: 10px;
}
#category_title, #category_value, #year_title, #year_value, #turn_title, #turn_value{
	float: left;
}
#category_title, #year_title, #turn_title{
	padding: 5px 0px;
	margin-right: 5px;
}
#btn{
	float: left;
	margin: 0px 10px;
	height: 34px;
}
#ajax_result{
	float: left;
	color: red;
	font-size: 12px;
	margin-left: 5px;
	width: 330px;
}